.Rproj.user
.Rhistory
.RData
.Ruserdata
README-unnamed-chunk-10-1.png
README-unnamed-chunk-5-1.png
README-unnamed-chunk-6-1.png
README-unnamed-chunk-7-1.png
README-unnamed-chunk-8-1.png
README-unnamed-chunk-9-1.png
doc
Meta
